{
  :deps {
         seancorfield/next.jdbc {:mvn/version "1.2.659"}
         com.github.seancorfield/honeysql {:mvn/version "2.6.1147"}
         com.taoensso/timbre {:mvn/version "6.5.0"}
         io.forward/yaml {:mvn/version "1.0.11"}
         org.postgresql/postgresql {:mvn/version "42.7.3"}
         }
}
